/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@charset "UTF-8";

html {
    color: white;
    font-size: 15px;
    line-height: 1.4;
    height: auto;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

/* ::-moz-selection {
    background: none;
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: none;
    background: #b3d4fc;
    text-shadow: none;
} */

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   =========*/
/* =====FONTS BEGIN===== */
body {
    background: white;
    font-family: 'roboto_regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    font-size: 1rem;
    color: #101010;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'oranienbaum', serif;
    font-weight: 400;
}

h1 {
    font-size: 3.1333rem;
    margin:0;
}

h2 {
    font-size: 2.4rem;
    margin:0;
}

h3 {
    font-size: 1.8rem;
    margin:0;
}

h4 {
    font-size: 1.3333rem;
    margin:0;
}

h5 {
    font-size: 0.7333rem;
    margin:0;
}

h6 {
    font-size: 0.5333rem;
    margin:0;
}

p {
    font-size: 1rem;
    margin:0;
}

blockquote {
    font-size: 1rem;
    font-family: 'roboto_thin', sans-serif;
    font-weight: 100;
    font-style: normal;
    margin:0;
}

q {
    font-size: 1rem;
    font-family: 'roboto_thin', sans-serif;
    font-weight: 100;
    font-style: normal;
    margin:0;
}

cite {
    font-size: 1rem;
    font-family: 'roboto_thin_italic', sans-serif;
    font-weight: 100;
    font-style: normal;
    margin:0;
}

code {
    font-size: 1rem;
    font-family: 'robotomono_regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin:0;
}

li {
    font-size: 1.0667rem;
    font-family: 'oranienbaum', serif;
    font-weight: 400;
    font-style: normal;
}

.archlabel {
    font-family: 'roboto_light', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.archlabel a p {
    font-size: 1rem;
}

.archlabel time {
    font-size: 0.8667rem;
}

a {
    color: #434343;
    text-decoration: none;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #101010;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}


/* =====FONTS END===== */
/* =====HEADER BEGIN===== */
ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    clear: both;
    display: flex;
    justify-content: space-between;
}

li {
    position: relative;
    list-style: none;
    display: flex;
    clear: both;
    align-items: center;
    justify-content: center;
}

a img {
    border: none;
}

header {    
    padding:3.125% 3.125%  0 3.125% ;
}

/* .topnav li:nth-child(2) path {
    fill: #080808;
} */

.logo:hover path{
    fill: #434343;
}

.topnav {
    overflow: hidden;
    height: 40px;
    cursor: default;
}

.topnav li:nth-child(1) {
    visibility: hidden;
}

.topnav li:nth-last-child(1) {
    visibility: hidden;
}

.top_menu {
    overflow: hidden;
    height: 40px;
    cursor: default;
    display: none;
}

.top_menu li {
    width: 210px;
}

.top_menu li a {
    color: #A4A4A4;
}

.top_menu li a:hover {
    color: #434343;
}

/* =====HEADER END===== */
/* =====MAIN BEGIN===== */
pre[rel] {
    padding-top: 5px;
    padding-left: 5px;
}

pre[rel="HTML"]::before {
    color: #FF5151;
    content: "html";
}

pre[rel="CSS"]::before {
    color: #51ABFF;
    content: "CSS";
}

pre[rel="JS"]::before {
    color: #F3D222;
    content: "JS";
}

pre[rel="C"]::before {
    color: #B6D3FF;
    content: "C";
}

pre[rel="C++"]::before {
    color: #B6D3FF;
    content: "C++";
}

pre[rel="C#"]::before {
    color: #B6D3FF;
    content: "C#";
}

.inputcode {
    background: #FAF3E1;
}

pre {
    overflow: hidden;
    margin: 2px 0;
    display: block;
    white-space: pre;
}

pre code {
    white-space: pre;
    display: block;
    overflow-x: scroll;
    line-height: 1.6;
    padding: 5px 3.33333%;
    max-width: 100%;
    min-width: 100px;
}

main {
    flex:1;
    padding: 0 3.125%;
    min-height: 100%;
}

.greyquotes {
    background: #E6E6E6;
}

.greyquotes blockquote {
    padding: 5px 5%;
    margin: 2px 0;
    quotes: "\201e" "\201c";
}
q {
    quotes: "\201e" "\201c";
}

q::before {
    content: "— "open-quote;
}

q::after {
    content: close-quote;
}

cite::before {
    content: "— ";
}
/* автор цитаты */

.archive_menu {
    margin: 1.5625% auto 0;
    display: none;
    /* display: grid; */
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    max-width: 356px;
}

.archive_menu li {
    justify-content: space-between;
}

.archive_menu :nth-child(1) {
    grid-column-start: 2;
}
/* так можно заплонить поотдельности */
.chevrone path {
    fill: #434343;
}

.chevrone:hover path {
    fill: #101010;
}
/* так можно заполнить цветом path внутри контейнеров */
/* .archive_menu ul :nth-child(1) a svg path {
    fill:#434343;
} */

.archive_grid {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    /*column-gap: 20px;*/
    margin: 15px auto 0;
    /*max-width: 400px;*/
}

.archive_grid section {
    break-inside: avoid;
}

.archive_grid section + section {
    margin-top: 20px;
}

.archive_header h1{
    font-size: 1.6667rem;
}

.archive_header h1 a {
    color: #101010;
}

.archive_header h1 a:hover,
.archive_header h1 a:focus {
    color: #434343;
}

.archive_archlabel {
    text-align: right;
    font-family: 'roboto_light', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.archive_archlabel p{
    font-size: 1.0667rem;
}

.archive_archlabel time {
    font-size: 0.8667rem;
}

.main_header {
    text-align: right;
    line-height: 36pt;
    margin:4.6875% auto 0 auto;
    max-width: 390px;
}

.archlabel {
    margin: 3.333333333% auto 0;
    text-align: right;
    max-width: 390px;
}

.archlabel a p {
    margin: 0;
    line-height: 0.5;
}

.archlabel a {
    color: #101010;
}

.archlabel a:hover {
    color: #434343;
}

.archlabel time {
    line-height: 1;
}

.headerquote {
    margin: 1.666666667% auto 0;
    text-align: right;
    max-width: 390px;
}

.headerquote blockquote {
    padding: 0;
    background: none;
    line-height: 12pt;
    letter-spacing: 0.03rem;
    margin-bottom: 1%;
}

.headerquote cite {
    margin-top: 10px;
    line-height: 12pt;
    letter-spacing: 0.04rem;
}

.main_text {
    line-height: 1.4;
    letter-spacing: 0.01rem;
    margin-top: 3.333333333%;
}

.main_text h2 , h3, h4{
    line-height: 1.8;
}

.main_text h5, h6 {
    line-height: 2.5;
}

.main_text p + p{
    margin-top: 6.666666667%;
}

.main_text p span {
    font-family: 'roboto_italic', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.images_center {
    display: block;
    margin: 10px auto;
    height: auto;
}

.images_center img{
    /* flex: 1; */
    width: 100%;
    height: auto;
    object-fit: contain;
}

.body_404 {
    background: url("../img/320dp.svg") no-repeat;
    background-position-y:10px;
    background-size: 100%;
}

.main_404 {
    padding: 0;
    margin: 0;
}

.header_404 h1{
    padding: 0;
    margin: 28.125% auto 0;
    color: #ffffff;
    width: 76px;
    font-size: 3.0667rem;
    cursor: default;
}

.info_404 p {
    padding: 0;
    margin: 155px auto 0;
    text-align: center;
    font-family: 'oranienbaum', serif;
    font-weight: 400;
    font-style: normal;
    width: 170px;
    font-size: 3.3333rem;
    line-height: 0.8;
    cursor: default;
}

.info_404 p a {
    cursor: pointer;
}
/* =====MAIN END===== */
/* =====FOOTER BEGIN===== */
footer {
    margin-top: 9.375%;
}
.chevrones {
    display: none;
    padding: 0 3.75%;
    overflow: hidden;
    height: 28px;
    cursor: default;
}

.chevrones li a {
    text-decoration: none;
    font-family: 'roboto_light', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
}
/* стоит переписать как я сделал делая меню в archive. а тоесть использовать универсальный класс chevrone для hover эффекта */
.chevrones li a {
    fill: #434343;
}

.chevrones li a:hover {
    fill: #101010;
}

.chevrones li a svg {
    fill: #101010;
}

.chevrones li a svg:hover {
    fill: #434343;
}

.chevrones li a span {
    display: inline-block;
    margin: 0 5px;
}

footer nav {
    font-size: 0;
}

.bottomnav {
    padding: 1.25% 11.875% 1.875%;
    overflow: hidden;
    height: 25px;
    cursor: default;
}

.bottomnav li a svg {
    fill: #A4A4A4;
}

.bottomnav li a svg:hover {
    fill: #F1F1F1;
}

.bottom_menu {
    color: #A4A4A4;
    overflow: hidden;
    height: 20px;
    cursor: default;
    display: none;
}

.bottom_menu li a {
    color: #A4A4A4;
}

.bottom_menu li a:hover {
    color: #F1F1F1;
}

.blacky {
    background-color: #080808;
}
/* =====FOOTER END===== */
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.

   MEDIA AUTHOR STYLES
   ========================================================================== */

@media all and (min-width: 320px) and (orientation: landscape) {
    .images_center {
        max-height: 320px;
    }
    
    .images_center img{
        max-height: 320px;
    }
}

@media all and (min-width: 768px) and (orientation: landscape) {
    .images_center {
        max-height: 400px;
    }
    
    .images_center img{
        max-height: 400px;
    }
}

@media all and (min-width: 1024px) and (orientation: landscape) {
    .images_center {
        max-height: 740px;
    }
    
    .images_center img{
        max-height: 740px;
    }
}

@media all and (min-width: 1440px) and (orientation: landscape) {
    .images_center {
        max-height: 900px;
    }
    
    .images_center img{
        max-height: 900px;
    }
}

@media all and (min-width: 1920px) and (orientation: landscape) {
    .images_center {
        max-height: 1020px;
    }
    
    .images_center img{
        max-height: 1020px;
    }
}

@media all and (min-width: 2048px) and (orientation: landscape) {
    .images_center {
        max-height: 1400px;
    }
    
    .images_center img{
        max-height: 1400px;
    }
}

@media all and (min-width: 320px) and (orientation: portrait), all and (min-width: 320px) and (orientation: landscape) {
    .archive_grid {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    column-gap: 20px;
    margin: 15px auto 0;
    max-width: 400px;
}
}

@media all and (min-width: 570px) and (orientation: portrait),all and (min-width: 570px) and (orientation: landscape) {
    html {
        font-size: 16px;
        line-height: 1.4;
    }

    header {    
        padding:1.754385965% 2.1053% 0 2.1053%;
    }

    main {
        padding: 0;
    }

    .greyquotes blockquote {
        padding: 5px 0;
        margin: 5px auto;
        max-width: 450px;
    }

    .inputcode pre {
        margin: 0 auto;
        width: 500px;
    }

    .main_header {
        margin-top: 2.6316%;
        max-width: 396px;
    }

    .archive_menu {
        margin: 1.754385965% auto 0;
        grid-template-columns: repeat(6, 1fr);
        max-width: 500px;
    }

    .archive_menu a {
        font-size: 1rem;
    }

    .archive_menu :nth-child(1) {
        grid-column-start: 3;
    }

    .archive_grid {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        margin: 1.754385965% auto 0;
        max-width: 550px;
        padding: 0 2.1053% 0 2.1053%;
    }

    .archive_header h1 {
        font-size: 1.5625rem;
    }

    .archive_archlabel p {
        font-size: 1rem;
    }

    .archive_archlabel time {
        font-size: 0.8125rem;
    }

    .archlabel {
        margin: 1.754385965% auto 0;
        max-width: 375px;
    }
    
    .archlabel time {
        font-size: 0.8125rem;
    }

    .headerquote {
        margin: 0.877192982% auto 0;
        padding-left: 40px;
        max-width: 356px;
    }

    .headerquote blockquote {
        margin-bottom: 1.123595506%;
    }

    .main_text {
        line-height: 1.43;
    }

    .main_text {
        margin: 1.818181818% auto 0;
        max-width: 500px;
    }

    .main_text h2 , h3, h4{
        line-height: 2;
    }
    
    .main_text h5, h6 {
        line-height: 3.5;
    }

    .main_text p + p{
        margin-top: 20px;
        /* возможно потом надо будет сменить на относительные единицы, например rem */
    }

    footer {
        margin-top: 5.263157895%;
    }

    .bottomnav {
        padding: 0.7018% 28.421052632% 1.052631579%;
    }

    .body_404 {
        background: url("../img/570dp.svg") no-repeat;
        background-position-y: 5px;
        background-size: 100%;
    }
    
    .header_404 h1{
        margin: 57px auto 0;
        width: 76px;
        font-size: 3rem;
    }
    
    .info_404 p {
        margin: 35px auto 0;
        width: 129px;
        font-size: 2.3rem;
        line-height: 0.8;
    }
}

@media all and (min-width: 768px) and (orientation: portrait),all and (min-width: 768px) and (orientation: landscape)  {
    html {
        font-size: 20px;
        line-height: 1.4;
    }

    h1 {
        font-size: 3.35rem;
    }

    h2 {
        font-size: 2.5rem;
    }
    
    h3 {
        font-size: 1.85rem;
    }
    
    h4 {
        font-size: 1.35rem;
    }
    
    h5 {
        font-size: 0.75rem;
    }
    
    h6 {
        font-size: 0.55rem;
    }

    header {    
        padding:1.948051948% 1.818181818% 0 1.818181818%;
    }

    main {
        padding: 0;
    }

    .greyquotes blockquote {
        width: 540px;
        max-width: none;
    }

    .inputcode pre {
        margin: 5px auto;
        width: 590px;
    }
    
    .inputcode pre code {
        padding: 5px 5%;
    }

    .main_header {
        margin-top: 10.38961039%;
        max-width: 590px;
        line-height: 52pt;
    }

    .archive_menu {
        margin: 30px auto 0;
        grid-template-columns: repeat(8, 1fr);
        max-width: 740px;
    }
    .archive_menu :nth-child(1) {
        grid-column-start: 4;
    }

    .archive_grid {
        margin: 20px auto 0;
        padding: 0;
    }

    .archive_header h1 {
        font-size: 1.5rem;
    }

    .archive_archlabel time {
        font-size: 0.8rem;
    }

    .archive_archlabel p {
        font-size: 0.95rem;
    }

    .archlabel {
        margin: 20px auto 0;
        padding: 0;
        max-width: 550px;
    }

    .archlabel a p {
        font-size: 1rem;
    }
    
    .archlabel time {
        font-size: 0.85rem;
    }

    .headerquote {
        margin: 9px auto 0;
        padding-left: 210px;
        max-width: 380px;
    }

    .headerquote blockquote {        
        font-size: 0.95rem;
        margin-bottom: 6px;
    }

    .headerquote cite {
        font-size: 0.95rem;
    }

    .main_text {
        margin: 15px auto 0;
        max-width: 590px;
        line-height: 1.48;
    }

    .main_text p + p{
        margin-top: 25px;
        /* возможно потом надо будет сменить на относительные единицы, например rem */
    }

    footer {
        margin-top: 35px;
        /* указал в пикселях так как с ростом ширины экрана рост значения в процентах слишком быстрый */
        background: #080808;
    }

    .chevrones {
        height: 30px;
    }

    /* .chevrones li {
        vertical-align: middle;
    } */

    .bottomnav {
        padding: 0;
        height: 30px;
        max-width: 330px;
        padding: 8px;
        margin: 0 auto;
    }

    .bottomnav li {
        line-height: 1;
    }

    .bottomnav li a img{
        width: 30px;
        height: 30px;
    }

    .bottom_menu {
        display: flex;
        width: 219px;
        padding: 4px 0 10px;
        margin: 0 auto;
    }

    .bottom_menu li {
        font-size: 0.8rem;
        line-height: 1;
    }

    .body_404 {
        background: url("../img/770dp.svg") no-repeat;
        background-position-y: 11px;
        background-size: 100%;
    }
    
    .header_404 h1{
        margin: 110px auto 0;
        width: 190px;
        font-size: 6rem;
    }
    
    .info_404 p {
        margin: 226px auto 0;
        width: 345px;
        font-size: 5.7rem;
        line-height: 0.8;
    }
}

@media all and (min-width: 1024px) and (orientation: portrait),all and (min-width: 1024px) and (orientation: landscape) {
    header {
        padding:1.953125% 1.6602% 0 1.6602%;
    }

    main {
        padding: 0;
    }

    .greyquotes blockquote {
        margin: 10px auto;
        width: 738px;
    }

    .inputcode pre {
        margin: 10px auto;
        width: 788px;
    }
    
    .inputcode pre code {
        padding: 5px 5%;
    }

    .main_header {
        margin-top: 9.766%;
        padding-left: 202px;
        max-width: 586px;
    }

    .archive_menu {
        margin: 2.9296875% auto 0;
        grid-template-columns: repeat(10, 1fr);
        max-width: 990px;
    }

    .archive_menu :nth-child(1) {
        grid-column-start: 5;
    }

    .archive_grid {
        margin: 1.953125% auto 0;
        padding: 0;
        max-width: 586px;
    }

    .archlabel {
        margin: 1.9531% auto 0;
        padding: 0;
        max-width: 748px;
    }

    .headerquote {
        padding-left: 402px;
        max-width: 386px;
    }

    .main_text {
        max-width: 788px;
    }

    .body_404 {
        background: url("../img/1024dp.svg") no-repeat;
        background-position-y: 10px;
        background-size: 100%;
    }
    
    .header_404 h1{
        margin: 111px auto 0;
        width: 190px;
        font-size: 6rem;
    }
    
    .info_404 p {
        margin: 103px auto 0;
        width: 428px;
        font-size: 5rem;
        line-height: 0.8;
    }
}

@media all and (min-width: 1440px) and (orientation: portrait),all and (min-width: 1440px) and (orientation: landscape) {
    html {
        font-size: 21px;
        line-height: 1.4;
    }

    h1 {
        font-size: 4.2381rem;
    }

    h2 {
        font-size: 2.9524rem;
    }
    
    h3 {
        font-size: 2.0476rem;
    }
    
    h4 {
        font-size: 1.4286rem;
    }
    
    h5 {
        font-size: 0.7143rem;
    }
    
    h6 {
        font-size: 0.4762rem;
    }

    header {    
        padding:1.7362% 1.818181818% 0 1.818181818%;
    }

    .top_menu {
        display: flex;
        margin: 10px auto 0;
        width: 670px;
        height: 28px;
    }

    main {
        padding: 0;
    }

    .greyquotes blockquote {
        margin: 15px auto;
        width: 850px;
    }

    .inputcode pre {
        margin: 15px auto;
        width: 900px;
    }
    
    .inputcode pre code {
        padding: 10px 5%;
        width: 900px;
    }

    .archive_menu {
        margin: 45px auto 0;
        grid-template-columns: repeat(12, 1fr);
        max-width: 1360px;
    }

    .archive_menu a {
        font-size: 0.9524rem;
    }


    .archive_menu :nth-child(1) {
        grid-column-start: 6;
    }

    .archive_grid {
        margin: 30px auto 0;
        padding: 0;
        max-width: 670px;
    }

    .archive_header h1 {
        font-size: 1.4286rem;
    }

    .archive_archlabel time {
        font-size: 0.7619rem;
    }

    .archive_archlabel p {
        font-size: 0.9048rem;
    }

    .main_header {
        margin-top: 8.680555556%;
        max-width: 880px;
        padding-left: 20px;
        line-height: 68pt;
    }

    .archlabel {
        margin: 25px auto 0;
        max-width: 860px;
    }

    .headerquote {
        padding-left: 460px;
        max-width: 440px;
    }

    .headerquote blockquote {        
        font-size: 1rem;
    }

    .headerquote cite {
        font-size: 1rem;
    }

    .main_text {
        line-height: 1.5;
        max-width: 900px;
    }

    .main_text h2 , h3, h4{
        line-height: 2.1;
    }
    
    .main_text h5, h6 {
        line-height: 3.6;
    }

    footer {
        margin-top: 40px;
        /* указал в пикселях так как с ростом ширины экрана рост значения в процентах слишком быстрый */
    }

    .body_404 {
        background: url("../img/1920dp.svg") no-repeat;
        background-position-y: 13px;
        background-size: 100%;
    }
    
    .header_404 h1{
        margin: 151px auto 0;
        width: 205px;
        font-size: 6.1905rem;
    }
    
    .info_404 p {
        margin: 168px auto 0;
        width: 360px;
        font-size: 5.5rem;
        line-height: 0.8;
    }
}


@media all and (min-width: 1920px) and (orientation: portrait),all and (min-width: 1920px) and (orientation: landscape) {
    html {
        font-size: 22px;
        line-height: 1.4;
    }

    h1 {
        font-size: 4.4091rem;
    }

    h2 {
        font-size: 3.0455rem;
    }
    
    h3 {
        font-size: 2.0909rem;
    }
    
    h4 {
        font-size: 1.4545rem;
    }
    
    h5 {
        font-size: 0.6818rem;
    }
    
    h6 {
        font-size: 0.4545rem;
    }

    header {
        padding:0;
        padding-top:36px;
    }

    main {
        padding: 0;
    }

    .greyquotes blockquote {
        margin: 20px auto;
        width: 880px;
    }

    .inputcode pre {
        margin: 20px auto;
        width: 930px;
    }

    .archive_menu {
        margin: 50px auto 0;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 50px;
        max-width: 1810px;
    }

    .archive_menu :nth-child(1) {
        grid-column-start: 6;
    }

    .archive_menu a {
        font-size: 0.9091rem;
    }

    .archive_grid {
        column-gap: 30px;
        max-width: 1070px;
        padding: 0 487.5px;
    }

    .archive_header h1 {
        font-size: 1.8182rem;
    }

    .archive_archlabel time {
        font-size: 0.8636rem;
    }

    .archive_archlabel p {
        font-size: 1rem;
    }

    .main_header {
        margin-top: 7.3%;
        max-width: 930px;
        padding: 0;
        line-height: 74pt;
    }

    .archlabel {
        max-width: 900px;
    }

    .archlabel a p {
        font-size: 0.9545rem;
    }

    .archlabel time {
        font-size: 0.8182rem;
    }

    .headerquote {
        padding-left: 480;
        max-width: 450px;
    }

    .headerquote blockquote {        
        font-size: 0.9545rem;
        margin-bottom: 6px;
    }

    .headerquote cite {
        font-size: 0.9545rem;
    }

    .main_text {
        line-height: 1.55;
        max-width: 930px;
    }

    footer {
        margin-top: 45px;
        /* указал в пикселях так как с ростом ширины экрана рост значения в процентах слишком быстрый */
    }

    .body_404 {
        background: url("../img/1920dp.svg") no-repeat;
        background-position-y: 13px;
        background-size: 100%;
    }
    
    .header_404 h1{
        margin: 206px auto 0;
        width: 205px;
        font-size: 5.9091rem;
    }
    
    .info_404 p {
        margin: 140px auto 0;
        width: 360px;
        font-size: 5.5rem;
        line-height: 0.8;
    }
}

@media all and (min-width: 2048px) and (orientation: portrait),all and (min-width: 2048px) and (orientation: landscape) {
    header {
        padding:0;
        padding-top:36px;
    }

    main {
        padding: 0;
    }

    .inputcode pre {
        width: 990px;
    }

    .main_header {
        margin-top: 7.38%;
        max-width: 990px;
        padding: 0;
        line-height: 74pt;
    }

    .archlabel {
        max-width: 950px;
    }

    .headerquote {
        padding-left: 510px;
        max-width: 480px;
    }

    .main_text {
        max-width: 990px;
    }

    footer {
        margin-top: 50px;
        /* указал в пикселях так как с ростом ширины экрана рост значения в процентах слишком быстрый */
    }

    .body_404 {
        background: url("../img/2048dp.svg") no-repeat;
        background-position-y: 13px;
        background-size: 100%;
    }
    
    .header_404 h1{
        margin: 206px auto 0;
        width: 205px;
        font-size: 5.9091rem;
    }
    
    .info_404 p {
        margin: 140px auto 0;
        width: 360px;
        font-size: 5.5rem;
        line-height: 0.8;
    }
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited,
    a:active,
    a:hover,
    a:focus {
        text-decoration: none;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
  