/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@charset "UTF-8";

html {
    color: white;
    font-size: 15px;
    line-height: 1.4;
    height: auto;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   =========*/
/* =====FONTS BEGIN===== */
body {
    background: white;
    font-family: 'roboto_regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    font-size: 1rem;
    color: #101010;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'oranienbaum', serif;
    font-weight: 400;
}

h1 {
    font-size: 3.1333rem;
    margin:0;
}

h2 {
    font-size: 2.4rem;
    margin:0;
}

h3 {
    font-size: 1.8rem;
    margin:0;
}

h4 {
    font-size: 1.3333rem;
    margin:0;
}

h5 {
    font-size: 0.7333rem;
    margin:0;
}

h6 {
    font-size: 0.5333rem;
    margin:0;
}

p {
    font-size: 1rem;
    margin:0;
}

blockquote {
    font-size: 1rem;
    font-family: 'roboto_thin', sans-serif;
    font-weight: 100;
    font-style: normal;
    margin:0;
}

q {
    font-size: 1rem;
    font-family: 'roboto_thin', sans-serif;
    font-weight: 100;
    font-style: normal;
    margin:0;
}

cite {
    font-size: 1rem;
    font-family: 'roboto_thin_italic', sans-serif;
    font-weight: 100;
    font-style: normal;
    margin:0;
}

code {
    font-size: 1rem;
    font-family: 'roboto_light', sans-serif;
    font-weight: 300;
    font-style: normal;
    margin:0;
}

li {
    font-size: 1.0667rem;
    font-family: 'oranienbaum', serif;
    font-weight: 400;
    font-style: normal;
}

.archlabel {
    font-family: 'roboto_light', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.archlabel p {
    font-size: 1rem;
}

.archlabel time {
    font-size: 0.8667rem;
}

a {
    color: #ACBAC1;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #4F92AF;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}


/* =====FONTS END===== */
/* =====HEADER BEGIN===== */
ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    clear: both;
}

li {
    position: relative;
    list-style: none;
    display: inline-block;
    clear: both;
    vertical-align: middle;
}

a img {
    border: none;
}

header {    
    padding:3.125% 3.125%  0 3.125% ;
}

.topnav {
    text-align: justify;
    overflow: hidden;
    height: 40px;
    cursor: default;
}

.topnav li:nth-child(1) {
    visibility: hidden;
}

.topnav li:nth-last-child(1) {
    visibility: hidden;
}

.topnav li {
    display: inline;
}

.topnav li a {
    display: inline-block;
}

.topnav:after { 
    content: "1";
    margin-left: 100%;
    height: 1px;
    overflow: hidden;
    display: inline-block
}
/* =====HEADER END===== */
/* =====MAIN BEGIN===== */
main {
    padding: 0 3.125%;
    margin-top: 4.6875%;
}

h1 {
    text-align: right;
    line-height: 36pt;
}

.main_header {
    margin: 0 auto;
    max-width: 390px;
}

.archlabel {
    margin: 3.333333333% auto 0;
    text-align: right;
    max-width: 390px;
}

.archlabel p {
    margin: 0;
    line-height: 0.5;
}

.archlabel time {
    line-height: 1;
}

.headerquote {
    margin: 1.666666667% auto 0;
    text-align: right;
    max-width: 390px;
}

.headerquote blockquote {
    line-height: 12pt;
    letter-spacing: 0.03rem;
    margin-bottom: 1%;
}

.headerquote cite {
    margin-top: 10px;
    line-height: 12pt;
    letter-spacing: 0.04rem;
}

.main_text {
    line-height: 1.4;
    letter-spacing: 0.01rem;
    margin-top: 3.333333333%;
}

.main_text p + p{
    margin-top: 6.666666667%;
}

.main_text p span {
    font-family: 'roboto_italic', sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* =====MAIN END===== */
/* =====FOOTER BEGIN===== */
footer {
    margin-top: 9.375%;
}
.chevrones {
    padding: 0 3.75%;
    text-align: justify;
    overflow: hidden;
    height: 28px;
    cursor: default;
}

.chevrones li {
    display: inline;
    vertical-align: middle;
}

.chevrones li a {
    color: #101010;
    display: inline-block;
    text-decoration: none;
    font-family: 'roboto_light', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
}

.chevrones:after { 
    content: "1";
    margin-left: 100%;
    height: 1px;
    overflow: hidden;
    display: inline-block
}

footer nav {
    font-size: 0;
}

.bottomnav {
    padding: 1.25% 11.875% 1.875%;
    text-align: justify;
    overflow: hidden;
    height: 25px;
    cursor: default;
}

.bottomnav li {
    display: inline;
}

.bottomnav li a {
    display: inline-block;
}

.bottomnav:after { 
    background: #080808;
    content: "1";
    margin-left: 100%;
    height: 1px;
    overflow: hidden;
    visibility: hidden;
    display: inline-block
}


.bottom_menu {
    color: #A4A4A4;
    text-align: justify;
    overflow: hidden;
    height: 20px;
    cursor: default;
    display: none;
}

.bottom_menu li {
    display: inline;

}

.bottom_menu li a {
    display: inline-block;
    text-decoration: none;
}

.bottom_menu:after {
    background: #080808; 
    content: "1";
    margin-left: 100%;
    height: 1px;
    overflow: hidden;
    display: inline-block
}

.blacky {
    background-color: #080808;
}
/* =====FOOTER END===== */
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.

   MEDIA AUTHOR STYLES
   ========================================================================== */



@media all and (min-width: 570px) and (orientation: portrait),all and (min-width: 570px) and (orientation: landscape) {
    html {
        font-size: 16px;
        line-height: 1.4;
    }

    header {    
        padding:1.754385965% 2.1053% 0 2.1053%;
    }

    main {
        padding: 0;
        margin-top: 2.6316%;
    }

    .main_header {
        max-width: 396px;
    }

    .archlabel {
        margin: 1.754385965% auto 0;
        max-width: 375px;
    }
    
    .archlabel time {
        font-size: 0.8125rem;
    }

    .headerquote {
        margin: 1.7544% auto 0;
        padding-left: 7.01754386%;
        max-width: 356px;
    }

    .headerquote blockquote {
        margin-bottom: 1.123595506%;
    }

    .main_text {
        margin: 1.818181818% auto 0;
        max-width: 500px;
    }

    .main_text p + p{
        margin-top: 20px;
        /* возможно потом надо будет сменить на относительные единицы, например rem */
    }

    footer {
        margin-top: 5.263157895%;
    }

    .bottomnav {
        padding: 0.7018% 28.421052632% 1.052631579%;
    }
}

@media all and (min-width: 768px) and (orientation: portrait),all and (min-width: 768px) and (orientation: landscape)  {
    html {
        font-size: 20px;
        line-height: 1.4;
    }

    h1 {
        font-size: 3.35rem;
    }

    h2 {
        font-size: 2.5rem;
    }
    
    h3 {
        font-size: 1.85rem;
    }
    
    h4 {
        font-size: 1.35rem;
    }
    
    h5 {
        font-size: 0.75rem;
    }
    
    h6 {
        font-size: 0.55rem;
    }

    header {    
        padding:1.948051948% 1.818181818% 0 1.818181818%;
    }

    main {
        padding: 0;
        margin-top: 10.38961039%;
    }

    .main_header {
        max-width: 590px;
    }

    .archlabel {
        margin: 2.597402597% auto 0;
        padding: 0;
        max-width: 570px;
    }

    .archlabel p {
        font-size: 1rem;
    }
    
    .archlabel time {
        font-size: 0.85rem;
    }

    .headerquote {
        margin: 1.16883117% auto 0;
        padding-left: 27.272727273%;
        max-width: 380px;
    }

    .headerquote blockquote {        
        font-size: 0.95rem;
        margin-bottom: 1.578947368%;
    }

    .headerquote cite {
        font-size: 0.95rem;
    }

    .main_text {
        margin: 1.9481% auto 0;
        max-width: 590px;
    }

    .main_text p + p{
        margin-top: 25px;
        /* возможно потом надо будет сменить на относительные единицы, например rem */
    }

    footer {
        margin-top: 4.545454545%;
        background: #080808;
    }

    .chevrones {
        height: 30px;
        display: none;
    }

    .chevrones li {
        vertical-align: middle;
    }

    .bottomnav {
        padding: 0;
        height: 30px;
        max-width: 330px;
        padding: 8px;
        margin: 0 auto;
    }

    .bottomnav li {
        line-height: 1;
    }

    .bottomnav li a img{
        width: 30px;
        height: 30px;
    }

    .bottom_menu {
        display: block;
        width: 219px;
        padding: 4px 0 10px;
        margin: 0 auto;
    }

    .bottom_menu li {
        font-size: 0.8rem;
        line-height: 1;
    }
}

@media all and (min-width: 1024px) and (orientation: portrait),all and (min-width: 1024px) and (orientation: landscape) {
    html {
        font-size: 20px;
        line-height: 1.4;
    }

    header {
        padding:1.948051948% 1.818181818% 0 1.818181818%;
    }

    main {
        padding: 0;
        margin-top: 10.38961039%;
    }

    .main_header {
        max-width: 590px;
    }

    .archlabel {
        margin: 2.597402597% auto 0;
        padding: 0;
        max-width: 570px;
    }

    .archlabel p {
        font-size: 1rem;
    }
    
    .archlabel time {
        font-size: 0.85rem;
    }

    .headerquote {
        margin: 1.16883117% auto 0;
        padding-left: 27.272727273%;
        max-width: 380px;
    }

    .headerquote blockquote {
        font-size: 0.95rem;
        margin-bottom: 1.578947368%;
    }

    .headerquote cite {
        font-size: 0.95rem;
    }

    .main_text {
        margin: 1.9481% auto 0;
        max-width: 590px;
    }

    .main_text p + p{
        margin-top: 25px;
        /* возможно потом надо будет сменить на относительные единицы, например rem */
    }

    footer {
        margin-top: 4.545454545%;
        background: #080808;
    }

    .chevrones {
        height: 30px;
        display: none;
    }

    .chevrones li {
        vertical-align: middle;
    }

    .bottomnav {
        padding: 0;
        height: 30px;
        max-width: 330px;
        padding: 8px;
        margin: 0 auto;
    }

    .bottomnav li {
        line-height: 1;
    }

    .bottomnav li a img{
        width: 30px;
        height: 30px;
    }

    .bottom_menu {
        display: block;
        width: 219px;
        padding: 4px 0 10px;
        margin: 0 auto;
    }

    .bottom_menu li {
        font-size: 0.8rem;
        line-height: 1;
    }
}

@media all and (min-width: 1440px) and (orientation: portrait),all and (min-width: 1440px) and (orientation: landscape) {

}


@media all and (min-width: 1920px) and (orientation: portrait),all and (min-width: 1920px) and (orientation: landscape) {
    
}

@media all and (min-width: 2048px) and (orientation: portrait),all and (min-width: 2048px) and (orientation: landscape) {

}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited,
    a:active,
    a:hover,
    a:focus {
        text-decoration: none;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
  