/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@charset "UTF-8";

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    // background: #b3d4fc;
    text-shadow: none;
}

::selection {
    // background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   =========*/

/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');

body {
    background: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #000;
<<<<<<< HEAD
    height: 100%;
=======
    /*height: 100%;*/
>>>>>>> e9d974930da739b480e385eb7c2804ebb021d7bf
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

   /* text-align: center;
    background: url(../img/xeffer.jpg) no-repeat center top;
    background-attachment: relative;
    background-position: center center;
    box-sizing:border;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    overflow: hidden;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #444;
}

h1 {
  font-size: 40px;
}

h3 {
  font-weight: 400;
}

h4 {
  font-weight: 400;
  font-size: 20px;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
}


a {
    color: #ACBAC1;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #4F92AF;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

/* wrapper */

#wrapper {
	text-align: center;
	background: url(../img/xeffer.jpg) no-repeat center top;
	background-attachment: relative;
	background-position: center center;
	box-sizing:border;
	width: 100%;
<<<<<<< HEAD
    height: 100%;
=======
    /*height: 100%;*/
>>>>>>> e9d974930da739b480e385eb7c2804ebb021d7bf
	margin: 0px auto;
	overflow: hidden;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#wrapper > .container{
	padding-top: 5%;
}

h1 {
	margin-top: 5%;
	margin-bottom: 5%;
	color: #fff;
	font-size: 20px;
	font-weight: 900;
	letter-spacing: -1px;
}

h2.subtitle {
	color: #fff;
	font-size: 14px;
	margin-bottom:5%;
	line-height: 1.5;
}

<<<<<<< HEAD
.row > .col-xs-12 {
	padding: 0 0;
}

/*  social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left:0;
  padding: 0;
  margin-top: 50px;
}

ul.social-network > li {
  display: inline;
  margin: 0 1px;
}

/*  social icons */
.social-network a.icoRss:hover {
  background-color: #F56505;
}

.social-network a.icoVk:hover {
  background-color: #6589b5;
}

.social-network a.icoFacebook:hover {
  background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
  background-color:#33ccff;
}
.social-network a.icoGit:hover {
  background-color:#5aba71;
}
.social-network a.icoVimeo:hover {
  background-color:#0590B8;
}
.social-network a.icoInstagram:hover {
  background-color:#ffc665;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i, 
.social-network a.icoGit:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}

.social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 50px;
  height: 50px;
  font-size:20px;
}

.social-circle li i {
  margin:0;
  line-height:50px;
  text-align: center;
}

.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.navbar-fixed-bottom {
    margin-bottom: 10%;
}


=======

.row > .col-xs-12 {
	padding: 0 0;
}
>>>>>>> e9d974930da739b480e385eb7c2804ebb021d7bf
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.

   MEDIA AUTHOR STYLES
   ========================================================================== */


<<<<<<< HEAD
@media all and (min-width: 320px) and (orientation: portrait) {
=======
@media all and (min-width: 320px) {
>>>>>>> e9d974930da739b480e385eb7c2804ebb021d7bf
	 #wrapper > .container {
    	padding-top: 6%;
    }

    h1 {
		margin-top: 7%;
		margin-bottom: 7%;
	}

	h2.subtitle {
	color: #fff;
	font-size: 20px;
<<<<<<< HEAD
	line-height: 1.5;
	}

    ul.social-network > li {
        display: inline;
        margin: 0 5px;
    }
    
}   

@media all and (min-width: 340px) and (orientation: portrait) {
=======
	margin-bottom:35%;
	line-height: 1.5;
	}
    
}   

@media all and (min-width: 340px) {
>>>>>>> e9d974930da739b480e385eb7c2804ebb021d7bf
    #wrapper > .container {
    	padding-top: 10%;
    }
	h1 {
		margin-top: 10%;
		margin-bottom: 10%;
	}

	h2.subtitle {
<<<<<<< HEAD
        color: #fff;
        font-size: 20px;
        line-height: 1.5;
	}   
}

@media all and (min-width: 768px) and (orientation: portrait){
=======
	color: #fff;
	font-size: 20px;
	margin-bottom:50%;
	line-height: 1.5;
	}
    

}

@media all and (min-width: 768px) {
>>>>>>> e9d974930da739b480e385eb7c2804ebb021d7bf
	#wrapper > .container {
		padding-top: 10%;
	}

	h1 {
		margin-top: 10%;
		font-size: 45px;
		margin-bottom: 10%;
	}

<<<<<<< HEAD
    h2.subtitle {
        margin-bottom: 0;
    }

	h2.subtitle {
	   color: #fff;
	   font-size: 25px;
	   line-height: 1.5;
	}

    .social-circle li a {
        font-size: 25px;
        width: 55px;
        height: 55px;
    }

    .social-circle li i {
        line-height: 55px;
    }

    ul.social-network > li {
        margin: 0 20px;
    }

    .navbar-fixed-bottom {
        margin-bottom: 7%;
    }
}


@media all and (min-width: 1024px) and (orientation: portrait) {
=======
	h2.subtitle {
	color: #fff;
	font-size: 25px;
	margin-bottom:45%;
	line-height: 1.5;
	}
}


@media all and (min-width: 1024px) {
>>>>>>> e9d974930da739b480e385eb7c2804ebb021d7bf
	#wrapper > .container {
		padding-top: 10%;
	}

	h1 {
		margin-top: 10%;
		font-size: 50px;
		margin-bottom: 10%;
	}

	h2.subtitle {
		color: #fff;
		font-size: 35px;
<<<<<<< HEAD
		line-height: 1.5;
	}

    .social-circle li a {
        font-size: 35px;
        width: 65px;
        height: 65px;
    }

    .social-circle li i {
        line-height: 65px;
    }

    ul.social-network > li {
        margin: 0 20px;
    }

    .navbar-fixed-bottom {
        margin-bottom: 4%;
    }
}
    
@media all and (min-height: 236px) and (orientation: landscape) {
    #wrapper > .container {
        padding-top: 2%;
    }

    h1 {
        margin-top: 3%;
        font-size: 30px;
        margin-bottom: 3%;
    }

    h2.subtitle {
        color: #fff;
        font-size: 20px;/*
        margin-bottom:25%;*/
        line-height: 1.5;
    }

    .social-circle li a {
        font-size: 24px;
        width: 54px;
        height: 54px;
    }

    .social-circle li i {
        line-height: 54px;
    }

    ul.social-network > li {
        margin: 0 20px;
    }

    .navbar-fixed-bottom {
        margin-bottom: 2%;
    }
}
=======
		margin-bottom:45%;
		line-height: 1.5;
	}

    /*.fa {
        font: normal normal normal 25px/1 FontAwesome;
    }*/
}


>>>>>>> e9d974930da739b480e385eb7c2804ebb021d7bf







/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited,
    a:active,
    a:hover,
    a:focus {
        text-decoration: none;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
  