header
  nav
    ul.topnav
      // <li><img src="img/three-bars.svg" alt="mobilemenuicon" id="threebars"></li>
      li
        svg#threebars(width='16' height='16' viewBox='0 0 12 16' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd' clip-rule='evenodd' d='M11.41 9H0.59C0 9 0 8.59 0 8C0 7.41 0 7 0.59 7H11.4C11.99 7 11.99 7.41 11.99 8C11.99 8.59 11.99 9 11.4 9H11.41ZM11.41 5H0.59C0 5 0 4.59 0 4C0 3.41 0 3 0.59 3H11.4C11.99 3 11.99 3.41 11.99 4C11.99 4.59 11.99 5 11.4 5H11.41ZM0.59 11H11.4C11.99 11 11.99 11.41 11.99 12C11.99 12.59 11.99 13 11.4 13H0.59C0 13 0 12.59 0 12C0 11.41 0 11 0.59 11Z' fill='#1B1F23')
      li.logo
        svg.logo_svg(width='100%' height='100%' viewBox='0 0 39 40' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd' clip-rule='evenodd' d='M3,11.4c-2.5,4.5-3,11.1-3,12.6C0,29.6,1,34,5.1,37c6,4,22.7,4,28.8-0.1c3.5-2.9,5.1-7.4,5.1-13\
          c0-1-0.5-9-2.5-12.6c0,0,0-7-0.5-8.5c-0.5-1.5-3.5-3-4.1-2.8c-0.5,0.2-0.5,8.3-0.5,8.3c-6.6-5.5-16.2-5.1-23.3,0c0,0,0-8-0.5-8.3\
          S4.1,2.3,3.5,3.8S3,11.4,3,11.4z M10.1,21.9c0.8,0,1.5-1.8,1.5-4c0-2.2-0.7-4-1.5-4c-0.8,0-1.5,1.8-1.5,4\
          C8.6,20.1,9.3,21.9,10.1,21.9z M29.4,21.9c0.8,0,1.5-1.8,1.5-4c0-2.2-0.7-4-1.5-4c-0.8,0-1.5,1.8-1.5,4\
          C27.9,20.1,28.5,21.9,29.4,21.9z M15.3,33.1c-1.9-1.3-3.4-3-4.7-4.9c-1.5,1.7-3.3,3.1-5.4,3.8c-0.3-1.3-0.6-3.5-1.4-4.6\
          c1.2,1.1,1.7,2,2.1,3.2c2-0.9,3.5-2.6,4.8-4.3c1,2.1,2.5,3.8,4.4,5.3c2.1-2.8,4.1-4.9,4.7-5.5c1.7,1.7,3.2,3.7,4.7,5.6\
          c2-1,3.3-3.4,4.3-5.4c1.1,1.5,2.3,3.1,3.8,4.2c0.3-0.5,1.3-2.4,2.8-3.2c-1.4,1.7-1.8,3.1-2.2,4.7c-1.8-0.9-3.1-2.3-4.3-3.8\
          c-1.1,2-2.6,3.9-4.8,4.7c-1.4-1.8-2.8-3.7-4.4-5.4C18.2,29.4,16.7,31.3,15.3,33.1z' fill='#080808')
      // <li><a href="/archive.html"><img src="img/search.svg" alt="searchicon"></a></li>
      li
        a(href='/archive.html')
          svg(width='18' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M15.7 13.3L11.89 9.47C12.59 8.49 13 7.3 13 6C13 2.69 10.31 0 7 0C3.69 0 1 2.69 1 6C1 9.31 3.69 12 7 12C8.3 12 9.48 11.59 10.47 10.89L14.3 14.7C14.49 14.9 14.75 15 15 15C15.25 15 15.52 14.91 15.7 14.7C16.09 14.31 16.09 13.68 15.7 13.29V13.3ZM7 10.7C4.41 10.7 2.3 8.59 2.3 6C2.3 3.41 4.41 1.3 7 1.3C9.59 1.3 11.7 3.41 11.7 6C11.7 8.59 9.59 10.7 7 10.7Z', fill='#1B1F23')
  nav#listmenu
    ul.top_menu
      li
        svg#threebars_close(width='12' height='16' viewBox='0 0 12 16' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd' clip-rule='evenodd' d='M7.48 7.99999L11.23 11.75L9.75 13.23L6 9.47999L2.25 13.23L0.770004 11.75L4.52 7.99999L0.770004 4.24999L2.25 2.76999L6 6.51999L9.75 2.76999L11.23 4.24999L7.48 7.99999Z' fill='#1B1F23')
      li
        a(href='archive.html') архив
      li
        a(href='contacts.html') контакты
      li
        a(href='about.html') обо мне