extends includes/layout.pug


block content
  .main_header
    h1 
      | Изобретатель
      br 
      | начало
  .archlabel
    a(href='#')
      p изобретательство
    time 29/02/2020
  .headerquote
    blockquote(cite="https://ru.wikipedia.org/wiki/%D0%94%D0%B5%D0%BC%D0%BE%D0%BA%D1%80%D0%B8%D1%82") Воображение важнее, чем знания. Знания ограничены, тогда как воображение охватывает целый мир, стимулируя прогресс, порождая эволюцию.
    cite Альберт Эйнштейн
  .main_text
    p.
      Добро пожаловать в волшебный мир изобретений, в котором тебя будет вести дорога приключений, а потом тебе прострелят колено. Конечно, не в прямом смысле. Возможно произойдет нечто, что заставит тебя задуматься. Это может произойти после неудачного изобретения или ситуации, которая не позволит завершить даже самое первое изобретение.
    p.
      А зачем тебе быть изобретателем? Желание сделать мир лучше? Это будет твой навык или профессия? Попробуем вкратце подумать на эту тему.  Так что ты такое, изобретатель?
    .images_center
      img(src='/img/wtf.jpg', alt='wtf')
    p.
      Изобретателем можно назвать любого человека, который создал изобретение. #[br] #[span Изобретение] — это новое техническое решение задачи, поднимающее существующий уровень техники. Изобретения направлены на удовлетворение насущных потребностей общества и, обеспечивая подъём существующего уровня техники, обуславливают его прогрессивное историческое развитие.
    p.
      Изобрести что-либо можно и случайно, не обладая специальными способностями. Но в своем умении изобретать я желаю стать профессионалом. Моя личная цель, как изобретателя — повысить шанс удачи настолько, насколько возможно. А значит и в вопросе “Как стать изобретателем?” я подразумеваю под словом “изобретатель” самую высокую квалификацию из возможных.
    p.
      Что может повлиять на успех изобретения? Больше всего влияют экономическая целесообразность, удобство для конечного пользователя и знания, необходимые для изобретения.
    p.
      Теперь стоит разобраться, какие существуют уровни изобретателя.
    h4 Уровень первый: Новичок.
    p.
      Это человек, который старается изобрести без понимания, какие ресурсы требуются для изобретения, без анализа экономической успешности, без мыслей о том, как изобретением будут пользоваться. Чаще всего это изобретение ради изобретения. При этом новичок не ставит цели сделать создание изобретений своей профессией.
    h4 Уровень второй: Любитель.
    p.
      Это человек, подкованный знаниями, которые требуются для изобретения. Любитель уже задумывается об удобстве изобретения для человека, который будет им пользоваться. В первую очередь, таким человеком является сам изобретатель. Он изобретает из чувств “боли” и “неудобства”, которые встречает в жизни. Например, химики изобрели лабораторную посуду, которая была нужна им для необходимых экспериментов.
    p.
      Любитель редко задумывается об успешности своего изобретения. Для него это изобретение — просто решение проблемы, включенной в общую задачу. Экономическая выгода редко заботит ум любителя, для него важен результат.
    h4 Уровень третий: Профессионал.
    p.
      Это изобретатель, который на постоянной основе занимается изобретательской деятельностью. Он думает об экономической успешности своего изобретения. Также он думает о потребителе, человеке, который будет пользоваться этим изобретением. Чаще всего профессию изобретателя приравнивают к инженеру. Но изобретатель может быть инженером, а инженер изобретателем — нет. Изобретатель, который стал профессионалом, старается свести к минимуму факторы, негативно влияющие на успех изобретения. Он все так же может иногда создавать изобретения ради изобретений, но делая это только в качестве хобби, для творчества. Если для успеха изобретения чего-то не достаточно, профессиональный изобретатель старается добыть недостающие ресурсы, такие как знания или деньги.
    h4 Уровень четвертый: Эксперт.
    p.
      Это изобретатель, который может мастерски обращаться со своими ресурсами и обладает внушительным багажом знаний. При этом у него есть возможность реализации большинства своих идей. Единственным критически важным ресурсом такого человека становится лишь время.
    p.
      Опираясь на вышесказанное, можно заметить, что изобретателем чаще всего называют именно любителей. В истории редко встречались случаи, когда изобретатель делал свою изобретательскую деятельность — профессией.
    p.
      Итак, какими способностями нужно обладать, чтобы сделать создание изобретений своей работой? Я постараюсь вкратце описать по моему мнению основные моменты. А подробные рекомендации о развитии этих способности или качеств, расскажу в следующих статьях. Пока что нужно представить, что мы на уровне изобретателя-новичка.
    h2 Воображение
    p.
      Основной способностью для становления изобретателя может стать воображение. Что же такое воображение?
    p.
      В широком смысле, всякий процесс, протекающий «в образах» (в голове) является воображением. То есть способность мысленного представления объектов, действий, ситуаций, не данных в актуальном восприятии.
    p.
      Но почему можно поставить во главу угла способность к воображению, а не просто способность мыслить или быть находчивым? Все из-за обширного спектра задач, которые могут потребовать хорошего воображения.
    p.
      Воображение как бы более универсально в плане применения к разным занятиям. Умение мысленно представлять что-либо крайне важно как в учебе, так и в работе. С помощью воображения легче понять сущность абстракций математики, физики и химии. Можно построить конструкцию моста в голове, а потом изобразить на бумаге. Можно представить полет птицы и на основании этого мысленно представить, как бы выглядел летательный аппарат.
    p.
      Тренировка воображения сильно сказывается на способности к творчеству, потому что затрагивает сопряжение нескольких разных образов с целью создания чего-то нового.
    h2 Фундаментальные науки
    p.
      Следующей ступенькой будет изучение фундаментальных наук. Из самых важных можно выделить математику, физику и химию.
    p.
      Фундаментальные науки в общем понимании - это науки, формирующие основу для всех остальных наук. Если конкретизировать, фундаментальные науки - это исследование законов природы и общества, направленное на получение новых и углубление имеющихся знаний об изучаемых объектах. Целью таких исследований является расширение горизонта науки. Решение конкретных практических задач при этом, как правило, не предусматривается.
    p.
      Честно говоря, в моем детстве возникли серьезные проблемы с дисциплинами, входящими в понятие “фундаментальных”. И хотя мне легко давалась математика, и довольно неплохо остальные предметы, все же глубокого понимания я не достиг. И знания, которыми я владел поверхностно, очень легко забывались.
    p.
      Недостаточное владение областью знаний, которую затрагивает изобретение, часто мешает в изобретательской деятельности. А без базовых знаний, которые дают фундаментальные науки, сложно понять другие области наук. Пытаться разобраться в том, как работает радио или телевизор сложно без понимания физики. Словно строить небоскреб без основания — это попросту невозможно. 
    p.
      Так что лучше при изучении базовых наук стараться понять их максимально полно.
    p.
      К примеру, хорошо понимая, как выглядят электроны, принцип их взаимодействия с металлами, можно понять, что такое электрическое напряжение и чем оно отличается от силы тока. Для этого необходимо понять и запомнить знания не просто как слова в голове, а мысленно представить как электроны взаимодействуют с проводником. Это может дать ясное понимание как работает электричество. С помощью такого подхода можно понимать устройство еще более сложных вещей. Поэтому базовые, фундаментальные науки настолько важны.
    p.
      Нужно научиться свободно говорить, читать и мыслить на языках фундаментальных наук, чтобы всегда быть готовым к изучению областей, которые требуются для нового изобретения.
    h2 Интерес
    p.
      #[span Интерес] — это внимание, возбуждаемое чем-либо значительным, привлекательным. При этом интерес окрашен положительными эмоциями, связанными с потребностью узнать что-то новое об объекте интереса. Конечно, проявление интереса это не совсем способность изобретателя.  Точнее, совсем не способность. Но эта особенность важна для того же обучения, для выхода за зону комфорта.
    p.
      В школе я редко видел в сверстниках желание докопаться до сути предмета, очень часто этому препятствует отсутствие интереса. Честно говоря, мне было неинтересно учиться, не интересны цифры, буквы, ноты на нотном стане. Но мне было интересно, почему 2+2=4, как сделать ракету, и как при этом получать удовольствие от учебы. Я могу сказать точно, что без личных маленьких побед каждый день во время обучения, невозможно заинтересоваться предметом. Для меня такой победой стала сначала оценка в дневнике, а затем возможность поработать над чем-то более великим, чем сложение и умножение.
    p.
      К примеру, после второго занятия в музыкальной школе мне дали домашнее задание — выучить пьесу. Дома я пытался сыграть сначала ноту, потом две, потом три. Хотелось, чтобы вся пьеса получилась сразу. Не прошло и часа, как я уже в ярости колотил дорогим инструментом по кровати и проклинал все, что связано с музыкой. Успокоившись, я попробовал сыграть снова… та радость, которую я испытал в 6 лет, перед поставленными к зеркалу нотами, весь в соплях и слезах, неописуема. После этого мне захотелось испытать больше этой радости. И я стал разучивать следующую пьесу.
    p.
      Наше тело с детства хочет выжить, и удовольствие способствует этому, так заложено природой. Дофамин и серотонин руководят процессом изучения речи и ходьбы. С приходом самосознания в нашу жизнь врываются также и отвлекающие факторы, которые мы сами себе создаем. Не так интересно сидеть в душном классе с учителем, как прогулка на улице, игра на приставке, да даже просто просмотр телепередачи. Мы сами вольны выбирать, что нам будет интересно. Сегодня фильм, завтра - сборка двигателя для автомобиля.
    h2 Общительность
    p.
      #[span Общительность] — это способность к самовыражению в социуме.
    p.
      Как бы мне со всей закомплексованностью не хотелось сидеть дома и попивать чаёк, все сводится к простому — изобретения предназначены для общества. Социум очень важен для созревания любой личности, даже факт отталкивания этой личности социумом тоже важен. Если люди не хотят общаться с вами или же не понимают вас - это сигнал к действию. В этом случае вам важно решить проблемы в общении с другими людьми, чтобы недопонимание или отрешенность не разрушили успех ваших изобретений. Изобретателю выгодно, когда его понимают и знают о нем.
    h2 Психологическая устойчивость
    p.
      #[span Психологическая устойчивость] — это свойство личности, лежащее в основе способности преодолевать стрессы и трудные периоды конструктивным путем.
    p.
      Так почему же важно иметь в арсенале такое качество и развивать его? Любая творческая деятельность тесно связана с неудачами. Неудачи порождают эмоции, мысли, депрессию. Все пагубные состояния в голове человека, мыслящего про облегчение жизни другим, сильно усложняют созидательный процесс. Вы как будто бежите с камнем на шее.
    p.
      Как же развивать психологическую устойчивость?
    p.
      #[span Первое и самое важное] — быть самому себе другом. Не загонять себя в яму отчаяния постоянным самобичеванием по поводу неудач. Стараться вести внутренний диалог о причинах возникновения проблемы.
    p.
      #[span Второе] — это постараться решить проблемы, возникшие в детстве. К примеру, это могут быть обиды, затаенные на себя или сверстников. А может, навязчивые мысли, с которыми вы столкнулись вследствие общения в кругу детей.
    p.
      #[span Третье] — стараться конструктивно реагировать на жизненные ситуации, не зависящие от вас. Недаром говорят, что первый шаг к решению проблемы - это её осознание. А уже после осознания можно приступать к поэтапному решению проблемы.
    h2 Целеустремленность
    p.
      #[span Целеустремленность] — это сознательная и активная направленность личности на определенный результат деятельности. Важность целеустремленности сложно переоценить. Неважно, насколько ты быстр и хорош - к финишу все равно приползет медленная, но целеустремленная черепаха. Сам факт изучения чего-либо сопряжен с огромной умственной работой. Для эффективного обучения требуется быть целеустремленным, осознавая, для чего учитесь.
    p.
      Важно воспринимать сложности изучения как воспитательную работу над собой, как тренировку целеустремленности. Чтобы затем переложить этот принцип уже на изобретательскую деятельность.
    p.
      Например, изучение фундаментальных наук - это сложная, но нужная задача. А целеустремленность помогает закончить изучение этих наук, представляя, как полученные знания будут задействованы в работе.
    h2 Конец
    p.
      Этим постом я запускаю в своем блоге цикл статей длиной от нескольких строк до „Войны и мира”. В этом тексте я описал основные способности, которыми необходимо обладать, чтобы вести изобретательскую деятельность. В следующих постах постараюсь подробно описать трудности на пути становления профессиональным изобретателем.
    p.
      К сожалению, не могу привести в качестве ссылок никакой литературы или научных статей. Поэтому данный цикл статей можно расценивать только как пост в моем блоге. В дальнейшем я переработаю текст с указанием ссылок на статьи из авторитетных источников, чтобы претендовать на некоторую научность моих изъяснений. Конечно же я готов к обсуждениям, в которые вы можете со мной вступить написав письмо на почту или в социальные сети.