extends includes/layout.pug


block content
  .accident_header
    p Frontend developer
  .main_header
    h1 Норов Олег <br> Анатольевич
  .headerquote
    p 29 лет
    time 15/12/1993
    p Навыки:
    blockquote WEB: HTML; CSS; C; JS; VUE.JS; LINUX; GIT; PWA; GULP
    p Альтернативный опыт:
    blockquote Умею варить кофе (альтернативные методы и эспрессо). Дизайн, рисунок, фотография. Оформительская деятельность.
  .main_text
    h2 Опыт
    h4 Brew me, Пермь - фасовщик
    p.scince_resume Июль 2022 - Август 2022
    p Работа по фасовке кофейного зерна в упаковку. Доставка покупателям.
    h4 Freelance, Пермь — проектная работа
    p.scince_resume Июль 2020 - Ноябрь 2020
    p Верстка макетов, рефракторинг кода, написание новой функциональности в компонентах vue.js с передачей данных в laravel. Вся работа через jira, slack и gitlab.
    h4 Inter Wave, Пермь — верстальщик
    p.scince_resume Январь 2017 - Май 2018
    p Верстка на Bootstrap3 (CSS & LESS). Простая верстка макетов лендингов, никакого JS только статичные сайты.
    h4 Red Cup, Пермь — бариста
    p.scince_resume Июнь 2015 - Май 2016
    p Научился варить вкусный кофе, чем радовал посетителей.
    h4 ИП, Пермь — дизайнер-оформитель
    p.scince_resume Июль 2014 - Май 2015
    p Брал заказы на оформление стен, рисование разнообразных иллюстраций. В том числе для игр.
    h4 Прогноз, Пермь — стажёр
    p.scince_resume Март 2014 - май 2014
    p Работал над проектом, написанным на C#.
    h4 ИП, Пермь — слесарь-сварщик
    p.scince_resume Июнь 2013 - Сентябрь 2014
    p Сварка металлических конструкций электродуговой электродной сваркой.
    h2 Образование
    h4 63, Пермь
    p.scince_resume 2001 - 2010
    h4 ПХТТ, Пермь
    p.scince_resume 2010 - 2014
    h4 ПТПИТ, Пермь
    p.scince_resume 2014 - 2015
    h2 Портфолио
    a(href="https://www.xefferia.com") www.xefferia.com
    p Простой блог, в качестве первого пэт проекта
    h2 О себе
    p На данный момент развиваюсь как frontend developer. Хочу работать на стыке ваших и моих интересов. Буду рад плодотворному сотрудничеству.