extends includes/layout.pug


block content
  .accident_header
    p Frontend developer
  .main_header
    h1 Норов Олег <br> Анатольевич
  .headerquote
    p 29 лет
    time 15/12/1993
    p Навыки:
    blockquote WEB: HTML; CSS; C; JS; VUE.JS; REACT; LINUX; GIT; PWA; GULP; VITE;
    p Альтернативный опыт:
    blockquote Дизайн, рисунок, фотография.
  .main_text
    h2 Опыт
    div
      h4 Freelance, Frontend developer
      p.scince_resume Июль 2020 - Ноябрь 2020
      p Верстка макетов, рефракторинг кода, написание новой функциональности в компонентах vue.js с передачей данных в laravel. Вся работа через jira, slack и gitlab. Самая интересная задача была в написании валидации для форм, данных для которой не было в начале задачи. Пришлось сначала создать подходящие данные, а уже потом писать валидацию.
    div
      h4 Inter Wave, Верстальщик
      p.scince_resume Январь 2017 - Май 2018
      p Верстка на Bootstrap3 (CSS & LESS). Простая верстка макетов лендингов, никакого JS только статичные сайты.
    div
      h4 Прогноз, Стажёр
      p.scince_resume Март 2014 - май 2014
      p Работал над проектом, написанным на C#.
    div
    h2 Образование
    div
      h4 63, Пермь
      p.scince_resume 2001 - 2010
    div
      h4 ПХТТ, Пермь
      p.scince_resume 2010 - 2014
    h2 Портфолио
    a(href="https://www.xefferia.com") www.xefferia.com
    p Простой блог, в качестве первого пэт проекта
    h2 О себе
    p Развиваюсь как frontend developer. В работе ценю выстроенные процессы, отзывчивых коллег. Так же радует хороший код в проектах. Хочу работать на стыке ваших и моих интересов. Буду рад плодотворному сотрудничеству.