
$active: #A4A4A4;
$active--svg: #F1F1F1;
$demon: #080808;

footer {
  margin-top: 9.375%;
  nav {
    font-size: 0;
  }
}

.bottomnav {
  padding: 1.25% 11.875% 1.875%;
  overflow: hidden;
  cursor: default;
  height: 25px;

  li a svg {
    fill: $active;

    &:hover {
      fill: $active--svg;
    }
    @media (prefers-color-scheme: dark) {
      &:hover {
        fill: #0E0E0E; 
      }
    }
    @media (prefers-color-scheme: light) {
      &:hover {
        fill: $active--svg;
      }
    }
  }
}

.bottom_menu {
  overflow: hidden;
  cursor: default;
  color: $active;
  display: none;
  height: 20px;

  li a {
    color: $active;

    &:hover {
      color: $active;
    }
  }
}

.blacky {
  background-color: $demon;
  @media (prefers-color-scheme: dark) {
    background-color: white;
  }
  @media (prefers-color-scheme: light) {
    background-color: $demon;
  }
}