
$menu: #434343;


ul {
  justify-content: space-between;
  text-decoration: none;
  display: flex;
  clear: both;
  padding: 0;
  margin: 0;
}

li {
  justify-content: center;
  align-items: center;
  position: relative;
  list-style: none;
  display: flex;
  clear: both;
}

header {  
  padding:3.125% 3.125%  0 3.125%;

  nav:nth-last-child(1) {
    background-color: rgba(255, 255, 255, 0.95);
    bottom: 0; left: 0; top: 0; right: 0;
    -webkit-overflow-scrolling: touch;
    min-height:100%;
    position: fixed;
    display: none;
    z-index: 999;
    overflow: {
      y: auto;
      x: hidden;
    }
    width:100%;
  }
}

.logo:hover path{
  fill: $menu;
}

.topnav {
  overflow: hidden;
  height: 40px;
  cursor: default;
}

.top_menu {
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: default;
  display: block;
  height: 40px;

  li {
    margin-bottom: 10px;

    &:nth-child(1) {
      padding: 22px 10px 10px;
      float: left;
      justify-content: center;
      align-self: flex-start;
    }
    
     a {
      font-size: 3.1333rem;

      &:hover {
        color: $menu;
      }
    }
  }
}