.js_text {
  padding: 0 15px;
}

.js_text--form {
  text-align: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 10px;
  overflow: hidden;
  display: flex;

  input {
    font-family: 'roboto_regular', sans-serif;
    border: 1px solid grey;
    vertical-align: middle;
    box-sizing: border-box;
    outline-style: none;
    margin-bottom: 15px;
    border-radius: 6px;
    padding-left: 5px;
    font-size: 1rem;
    height: 32px;
    width: 100%;

    &:focus {
      border: 2px solid $menu;
    }
    
    
    &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    -moz-apearance:none;
    appearance: none;
    }
    
    &::-ms-clear {
      display: none;
    }
  }
}

@media all and (min-width: 570px) and (orientation: portrait),all and (min-width: 570px) and (orientation: landscape) {
  .js_text {
    margin: 0 auto;
    max-width: 420px;
  }
}


@media all and (min-width: 768px) and (orientation: portrait),all and (min-width: 768px) and (orientation: landscape)  {
  .js_text--form {
    margin-top: 20px;
    input {
      font-size: 0.8rem;
    }
  }
}
  
@media all and (min-width: 1440px) and (orientation: portrait),all and (min-width: 1440px) and (orientation: landscape) {
  .js_text--form {
  }
}

@media all and (min-width: 1920px) and (orientation: portrait),all and (min-width: 1920px) and (orientation: landscape) {
  .js_text--form {
    margin-top: 30px;
  }
}