@charset "UTF-8";

@import './reset.scss';
@import './fonts.scss';
@import './header.scss';
@import './footer.scss';

$absoluteblack: #000000;
$searchinput: #838383;
$greyquotes: #E6E6E6;
$active: #A4A4A4;
$demon: #080808;
$body: #101010;
$menu: #434343;
$code: #FAF3E1;


.clearfix {
  &:before,
  &:after {
  content: " ";
  display: table;
  clear:both;
  }
}

.hidden {
  display: none !important;
}

.visuallyhidden {
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;


  &.focusable:active,
  &.focusable:focus {
    overflow: visible;
    position: static;
    height: auto;
    width: auto;
    clip: auto;
    margin: 0;
  }
}

.invisible {
  visibility: hidden;
}

.overflow_hidden {
  overflow: hidden !important;
}

.display_block {
  display: block !important;
}

a img {
  border: none;
}

pre {
  overflow: hidden;
  white-space: pre;
  display: block;
  margin: 2px 0;
  
  code {
    padding: 5px 3.33333%;
    overflow-x: scroll;
    white-space: pre;
    line-height: 1.6;
    min-width: 100px;
    max-width: 100%;
    display: block;
  }

  &[rel] {
    padding-left: 5px;
    padding-top: 5px;
  }
  
  &[rel="HTML"]::before {
    color: #FF5151;
    content: "html";
  }
  
  &[rel="CSS"]::before {
    color: #51ABFF;
    content: "CSS";
  }
  
  &[rel="JS"]::before {
    color: #F3D222;
    content: "JS";
  }
  
  &[rel="C"]::before {
    color: #B6D3FF;
    content: "C";
  }
  
  &[rel="C++"]::before {
    color: #B6D3FF;
    content: "C++";
  }
  
  &[rel="C#"]::before {
    color: #B6D3FF;
    content: "C#";
  }
}

.inputcode {
  background: $code;
}

main {
  padding: 0 3.125%;
  min-height: 100%;
  flex:1;
}

.greyquotes {
  background: $greyquotes;

  blockquote {
    quotes: "\201e" "\201c";
    padding: 5px 5%;
    margin: 2px 0;
  }
}



q {
  quotes: "\201e" "\201c";

  &::before {
    content: "— "open-quote;
  }
  
  &::after {
    content: close-quote;
  }
}

cite::before {
  content: "— ";
}

body {
  font-family: 'roboto_regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  flex-direction: column;
  background-size: cover;
  background: white;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  min-height: 100vh;
  display: flex;
  color: $body;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'oranienbaum', serif;
  font-weight: 400;
}

h1 {
  font-size: 3.1333rem;
  margin:0;
}

h2 {
  font-size: 2.4rem;
  margin:0;
}

h3 {
  font-size: 1.8rem;
  margin:0;
}

h4 {
  font-size: 1.3333rem;
  margin:0;
}

h5 {
  font-size: 0.7333rem;
  margin:0;
}

h6 {
  font-size: 0.5333rem;
  margin:0;
}

p {
  font-size: 1rem;
  margin:0;
}

blockquote {
  font: {
    family: 'roboto_thin', sans-serif;
    style: normal;
    weight: 100;
    size: 1rem;
  }
  margin:0;
}

q {
  margin:0;

  font: {
    family: 'roboto_thin', sans-serif;
    style: normal;
    weight: 100;
    size: 1rem;
  }
}

cite {
  margin:0;

  font: {
    family: 'roboto_thin_italic', sans-serif;
    style: normal;
    weight: 100;
    size: 1rem;
  }
}

code {
  margin:0;

  font: {
    family: 'robotomono_regular', sans-serif;
    style: normal;
    weight: 400;
    size: 1rem;
  }
}

li {
  font: {
    family: 'oranienbaum', serif;
    size: 1.0667rem;
    style: normal;
    weight: 400;
  }
}

.archlabel {
  font: {
    family: 'roboto_light', sans-serif;
    style: normal;
    weight: 300;
  }

  time {
    font-size: 0.8667rem;
  }

  a p {
    font-size: 1rem;
  }
}

a {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
  word-wrap: break-word;
  text-decoration: none;
  color: $menu;

  &:hover,
  a:focus {
    text-decoration: none;
    color: $body;
    outline: 0;
  }

  &:before,
  &:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
  }
}



.archive_searchbar {
  text-align: center;
  margin-top: 10px;
  font-size: 0;
}

.search_input {
  font-family: 'roboto_regular', sans-serif;
  border: 1px solid black;
  vertical-align: middle;
  border-radius: 6px;
  padding-left: 5px;
  margin-right: 5px;
  font-size: 1rem;
  width: 190px;
  height: 32px;

  &:focus {
    box-shadow: 0 0 5px $searchinput;
    outline-style: none;
  }
  
  
  &::-webkit-search-cancel-button {
  -webkit-appearance: none;
  -moz-apearance:none;
  appearance: none;
  }
  
  &::-ms-clear {
    display: none;
  }
}



input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search_button {
  background-color: black;
  padding: 2px 4px 2px 2px;
  vertical-align: middle;
  display: inline-block;
  outline-style: none;
  border-radius: 8px;
  border-left: none;
  cursor: pointer;
  border: none;
  height: 34px;
  width: 34px;

  &:hover {
    background-color: $active;
    color: black;
  }
  
  &:hover .search_icon path {
    fill: white;
  }
}

.search_icon {
  height: 22px;
  width: 22px;

  path {
    fill: $greyquotes;
  }
  
  path{
    fill: white;
  }
}

.archive_menu {
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  align-items: center;
  margin: 5px auto 0;
  position: relative;
  max-width: 356px;
  display: grid;

  li {
    justify-content: space-between;
  }
  
  &:nth-child(1) {
    grid-column-start: 2;
  }
}

.archive_grid {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  margin: 15px auto 0;
  column-count: 1;

  section {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -o-column-break-inside: avoid;
    break-inside: avoid-column;
    column-break-inside: avoid;
    page-break-inside: avoid;

     + section {
      margin-top: 20px;
    }
  }
}

.archive_header h1{
  font-size: 1.6667rem;

  h1 a {
    color: #101010;
    &:hover,
    &:focus {
      color: $menu;
    }
  }
}

.archive_archlabel {
  font-family: 'roboto_light', sans-serif;
  font-style: normal;
  text-align: right;
  font-weight: 300;

  p {
    font-size: 1.0667rem;
  }
  
  time {
    font-size: 0.8667rem;
  }
}



.main_header {
  margin:4.6875% auto 0 auto;
  text-align: right;
  line-height: 36pt;
  max-width: 390px;
}

.archlabel {
  margin: 3.333333333% auto 0;
  text-align: right;
  max-width: 390px;

  a p {
    line-height: 0.5;
    margin: 0;
  }
  
  a {
    color: #101010;
  }
  
  a:hover {
    color: $menu;
  }
  
  time {
    line-height: 1;
  }
}

.headerquote {
  margin: 1.666666667% auto 0;
  text-align: right;
  max-width: 390px;

  blockquote {
    letter-spacing: 0.03rem;
    margin-bottom: 1%;
    line-height: 14pt;
    background: none;
    padding: 0;
  }
  
  cite {
    letter-spacing: 0.04rem;
    line-height: 12pt;
    margin-top: 10px;
  }
}

.contacts {
  padding: 0 15px;
}

.contacts_form {
  align-items: flex-start;
  flex-direction: column;
  margin-top: 10px;
  overflow: hidden;
  display: flex;

  label {
    align-items: flex-start;
    margin-bottom: 5px;
    display: block;
  }
  
  input {
    font-family: 'roboto_regular', sans-serif;
    border: 1px solid grey;
    vertical-align: middle;
    box-sizing: border-box;
    outline-style: none;
    margin-bottom: 15px;
    border-radius: 6px;
    padding-left: 5px;
    font-size: 1rem;
    height: 32px;
    width: 100%;

    &:focus {
      border: 2px solid $menu;
    }

    &:invalid:not(:placeholder-shown) {
      box-shadow: 0 0 5px #ff5151;
    }
    
    &:valid:not(:placeholder-shown) {
      box-shadow: 0 0 5px #55ff5d;
    }
  }

  textarea {
    font-family: 'roboto_regular', sans-serif;
    border: 1px solid grey;
    box-sizing: border-box;
    outline-style: none;
    margin-bottom: 15px;
    border-radius: 6px;
    padding-left: 5px;
    font-size: 1rem;
    overflow: auto;
    resize: none;
    height: 200px;
    width: 100%;

    &:invalid:not(:placeholder-shown) {
      box-shadow: 0 0 5px #ff5151;
    }
    
    &:valid:not(:placeholder-shown) {
      box-shadow: 0 0 5px #55ff5d;
    }

    &:focus {
      border: 2px solid $menu;
    }
  }

  button {
    font-family: 'roboto_medium', sans-serif;
    display: inline-block;
    align-self: center;
    vertical-align: middle;
    outline-style: none;
    color: $greyquotes;
    background-color: $demon;
    padding-bottom: 3px;
    border-radius: 8px;
    border-left: none;
    cursor: pointer;
    border: none;
    height: 32px;
    width: 80px;
    
    &:hover {
    background-color: $menu;
    color: white;
    }
  }
}

@-webkit-keyframes autofill {
  to {
    background: transparent;
    color: inherit;
  }
}

input:-webkit-autofill {
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: autofill;
}

.main_text {
  line-height: 1.4;
  letter-spacing: 0.01rem;
  margin-top: 3.333333333%;

  h2 , h3, h4{
    line-height: 1.8;
    margin: 5px 0;
  }
  
  h5, h6 {
    line-height: 2.5;
  }
  
  p + p {
    margin-top: 4%;
  }
  
  p span {
    font-family: 'roboto_italic', sans-serif;
    font-style: normal;
    font-weight: 400;
  }
}

.images_center {
  margin: 10px auto;
  display: block;
  height: auto;
}

.images_center img {
  object-fit: contain;
  height: auto;
  width: 100%;
}

.body_404 {
  background: url("../img/320dp.svg") no-repeat;
  background-position-y:10px;
  background-size: 100%;
}

.main_404 {
  padding: 0;
  margin: 0;
}

.header_404 h1 {
  font-size: 3.0667rem;
  margin: 28.125% auto 0;
  color: #ffffff;
  cursor: default;
  width: 76px;
  padding: 0;
}

.info_404 p {
  font-family: 'oranienbaum', serif;
  margin: 155px auto 0;
  font-size: 3.3333rem;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 0.8;
  cursor: default;
  width: 170px;
  padding: 0;
}

.info_404 p a {
  cursor: pointer;
}

@media all and (min-width: 320px) and (orientation: landscape) {
  .images_center {
    max-height: 320px;

    img {
      max-height: 320px;
    }
  }
}

@media all and (min-width: 768px) and (orientation: landscape) {
  .images_center {
    max-height: 400px;

    img {
      max-height: 400px;
    }
  }

}

@media all and (min-width: 1024px) and (orientation: landscape) {
  .images_center {
    max-height: 740px;

    img {
      max-height: 740px;
    }
  }
}

@media all and (min-width: 1440px) and (orientation: landscape) {
  .images_center {
    max-height: 900px;
    img {
      max-height: 900px;
    }
  }
}

@media all and (min-width: 1920px) and (orientation: landscape) {
  .images_center {
    max-height: 1020px;

    img {
      max-height: 1020px;
    }
  }
}

@media all and (min-width: 2048px) and (orientation: landscape) {
  .images_center {
    max-height: 1400px;

    img {
      max-height: 1400px;
    }
  }
}

@media all and (min-width: 320px) and (orientation: portrait), all and (min-width: 320px) and (orientation: landscape) {
  .archive_grid {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  margin: 15px auto 0;
  column-gap: 20px;
  max-width: 400px;
  column-count: 2;
  }
}

@media all and (min-width: 570px) and (orientation: portrait),all and (min-width: 570px) and (orientation: landscape) {
  html {
    line-height: 1.4;
    font-size: 16px;
  }

  header {  
    padding:1.754385965% 2.1053% 0 2.1053%;
  }

  main {
    padding: 0;
  }

  .top_menu li a {
    font-size: 2.9375rem;
  }

  .greyquotes blockquote {
    margin: 5px auto;
    max-width: 450px;
    padding: 5px 0;
  }

  .inputcode pre {
    margin: 0 auto;
    width: 500px;
  }

  .main_header {
    margin-top: 2.6316%;
    max-width: 396px;
  }

  .search_input {
    border-radius: 6px;
    font-size: 0.9rem;
    width: 212px;
    height: 30px;
  }
  
  .search_button {
    padding: 2px 4px 2px 2px;
    border-radius: 8px;
    height: 32px;
    width: 32px;
  }

  .archive_menu {
    grid-template-columns: repeat(6, 1fr);
    max-width: 500px;
    a {
      font-size: 1rem;
    }

    &:nth-child(1) {
      grid-column-start: 3;
    }
  }

  .archive_grid {
    padding: 0 2.1053% 0 2.1053%;
    margin: 1.754385965% auto 0;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    max-width: 550px;
    column-count: 3;
  }

  .archive_header h1 {
    font-size: 1.5625rem;
  }

  .archive_archlabel {
    p {
      font-size: 1rem;
    }
    
    time {
      font-size: 0.8125rem;
    }
  }

  .archlabel {
    margin: 1.754385965% auto 0;
    max-width: 375px;

    time {
      font-size: 0.8125rem;
    }
  }

  .headerquote {
    margin: 0.877192982% auto 0;
    padding-left: 40px;
    max-width: 356px;

    blockquote {
      margin-bottom: 1.123595506%;
    }
  }

  .main_text {
    margin: 1.818181818% auto 0;
    line-height: 1.43;
    max-width: 500px;

    h2 , h3, h4 {
      line-height: 2;
    }
    
    h5, h6 {
      line-height: 3.5;
    }
  
    p + p {
      margin-top: 15px;
    }
  }

  .contacts {
    margin: 0 auto;
    max-width: 420px;
  }

  footer {
    margin-top: 5.263157895%;
  }

  .bottomnav {
    padding: 0.7018% 28.421052632% 1.052631579%;
  }

  .body_404 {
    background: url("../img/570dp.svg") no-repeat;
    background-position-y: 5px;
    background-size: 100%;
  }
  
  .header_404 h1 {
    margin: 57px auto 0;
    font-size: 3rem;
    width: 76px;
  }
  
  .info_404 p {
    margin: 35px auto 0;
    font-size: 2.3rem;
    line-height: 0.8;
    width: 129px;
  }
}

@media all and (min-width: 768px) and (orientation: portrait),all and (min-width: 768px) and (orientation: landscape)  {
  html {
    font-size: 20px;
    line-height: 1.4;
  }

  h1 {
    font-size: 3.35rem;
  }

  h2 {
    font-size: 2.5rem;
  }
  
  h3 {
    font-size: 1.85rem;
  }
  
  h4 {
    font-size: 1.35rem;
  }
  
  h5 {
    font-size: 0.75rem;
  }
  
  h6 {
    font-size: 0.55rem;
  }

  header {  
    padding:1.948051948% 1.818181818% 0 1.818181818%;
  }

  header nav:nth-last-child(1) {
    -webkit-overflow-scrolling: none;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    min-height: auto;
    background: none;
    display: block;
    width: auto;
  }

  .top_menu {
    margin: 10px auto 0;
    flex-direction: row;
    width: 550px;
    height: 28px;

    li {
      width: 210px;

      a {
        font-size: 1.0667rem;
        color: $active;
      }

      &:nth-child(1) {
        display: none;
      }

      &:nth-child(1) {
        visibility: hidden;
      }
      
      &:nth-last-child(1) {
        visibility: hidden;
      }
    }
  }

  main {
    padding: 0;
  }

  .greyquotes blockquote {
    width: 540px;
    max-width: none;
  }

  .inputcode {
    pre {
      margin: 5px auto;
      width: 590px;

      code {
        padding: 5px 5%;
      }
    }
  }

  .main_header {
    margin-top: 10.38961039%;
    line-height: 52pt;
    max-width: 590px;

    h2 {
      margin: 10px 0;
    }
  }

  .archive_searchbar {
    margin-top: 20px;
  }

  .search_input {
    font-size: 0.75rem;
    border-radius: 5px;
    width: 215px;
    height: 24px;
  }
  
  .search_button {
    padding: 2px 4px 2px 2px;
    border-radius: 7px;
    height: 26px;
    width: 26px;
  }

  .search_icon {
    height: 18px;
    width: 18px;
  }

  .archive_menu {
    grid-template-columns: repeat(8, 1fr);
    margin: 10px auto 0;
    max-width: 740px;

    &:nth-child(1) {
      grid-column-start: 4;
    }
  }

  .archive_grid {
    margin: 20px auto 0;
    padding: 0;
  }

  .archive_header h1 {
    font-size: 1.5rem;
  }

  .archive_archlabel {
    time {
      font-size: 0.8rem;
    }

    p {
      font-size: 0.95rem;
    }
  }

  .archlabel {
    margin: 20px auto 0;
    max-width: 550px;
    padding: 0;

    a p {
      font-size: 1rem;
    }
    
    time {
      font-size: 0.85rem;
    }
  }

  .headerquote {
    padding-left: 210px;
    margin: 9px auto 0;
    max-width: 380px;

    blockquote {
      line-height: 17pt;
      font-size: 0.95rem;
      margin-bottom: 6px;
    }

    cite {
      font-size: 0.95rem;
    }
  }

  .main_text {
    margin: 15px auto 0;
    line-height: 1.48;
    max-width: 590px;

    p + p{
      margin-top: 20px;
    }
  }

  .contacts {
    font-size: 0.9rem;
  }

  .contacts_form {
    font-size: 0.9rem;

    input {
      font-size: 0.8rem;
    }
  
    textarea {
      font-size: 0.8rem;
    }
  }

  footer {
    margin-top: 35px;
    background: $demon;
  }

  .bottomnav {
    margin: 0 auto;
    max-width: 330px;
    height: 30px;
    padding: 0;
    padding: 8px;

    li {
      line-height: 1;

      a img {
        width: 30px;
        height: 30px;
      }
    }
  }

  .bottom_menu {
    padding: 4px 0 10px;
    margin: 0 auto;
    display: flex;
    width: 219px;

    li {
      font-size: 0.8rem;
      line-height: 1;
    }
  }

  .body_404 {
    background: url("../img/770dp.svg") no-repeat;
    background-position-y: 11px;
    background-size: 100%;
  }
  
  .header_404 h1 {
    margin: 110px auto 0;
    font-size: 6rem;
    width: 190px;
  }
  
  .info_404 p {
    margin: 226px auto 0;
    font-size: 5.7rem;
    line-height: 0.8;
    width: 345px;
  }
}

@media all and (min-width: 1024px) and (orientation: portrait),all and (min-width: 1024px) and (orientation: landscape) {
  header {
    padding:1.953125% 1.6602% 0 1.6602%;
  }

  .top_menu {
    width: 586px;
  }

  main {
    padding: 0;
  }

  .greyquotes blockquote {
    margin: 10px auto;
    width: 738px;
  }

  .inputcode {
    pre {
      margin: 10px auto;
      width: 788px;

      code {
        padding: 5px 5%;
      }
    }
  }

  .main_header {
    padding-left: 202px;
    margin-top: 9.766%;
    max-width: 586px;
  }

  .archive_menu {
    grid-template-columns: repeat(10, 1fr);
    max-width: 990px;

    &:nth-child(1) {
      grid-column-start: 5;
    }
  }

  .archive_grid {
    margin: 1.953125% auto 0;
    max-width: 586px;
    padding: 0;
  }

  .archlabel {
    margin: 1.9531% auto 0;
    max-width: 748px;
    padding: 0;
  }

  .headerquote {
    padding-left: 402px;
    max-width: 386px;
  }

  .main_text {
    max-width: 788px;
  }

  .body_404 {
    background: url("../img/1024dp.svg") no-repeat;
    background-position-y: 10px;
    background-size: 100%;
  }
  
  .header_404 h1{
    margin: 111px auto 0;
    font-size: 6rem;
    width: 190px;
  }
  
  .info_404 p {
    margin: 103px auto 0;
    line-height: 0.8;
    font-size: 5rem;
    width: 428px;
  }
}

@media all and (min-width: 1440px) and (orientation: portrait),all and (min-width: 1440px) and (orientation: landscape) {
  html {
    line-height: 1.4;
    font-size: 21px;
  }

  h1 {
    font-size: 4.2381rem;
  }

  h2 {
    font-size: 2.9524rem;
  }
  
  h3 {
    font-size: 2.0476rem;
  }
  
  h4 {
    font-size: 1.4286rem;
  }
  
  h5 {
    font-size: 0.7143rem;
  }
  
  h6 {
    font-size: 0.4762rem;
  }

  header {  
    padding:1.7362% 1.818181818% 0 1.818181818%;
  }

  .top_menu {
    margin: 10px auto 0;
    display: flex;
    width: 670px;
    height: 28px;
  }

  main {
    padding: 0;
  }

  .greyquotes blockquote {
    margin: 15px auto;
    width: 850px;
  }

  .inputcode {
    pre {
      margin: 15px auto;
      width: 900px;

      code {
        padding: 10px 5%;
        width: 900px;
      }
    }
  }

  .search_input {
    width: 255px;
  }

  .archive_menu {
    grid-template-columns: repeat(12, 1fr);
    max-width: 1360px;

    a {
      font-size: 0.9524rem;
    }

    &:nth-child(1) {
      grid-column-start: 6;
    }
  }

  .archive_grid {
    margin: 30px auto 0;
    max-width: 670px;
    padding: 0;
  }

  .archive_header h1 {
    font-size: 1.4286rem;
  }

  .archive_archlabel {
    time {
      font-size: 0.7619rem;
    }
  
    p {
      font-size: 0.9048rem;
    }
  }

  .main_header {
    margin-top: 8.680555556%;
    padding-left: 20px;
    line-height: 68pt;
    max-width: 880px;
  }

  .archlabel {
    margin: 25px auto 0;
    max-width: 860px;
  }

  .headerquote {
    padding-left: 460px;
    max-width: 440px;

    blockquote {
      line-height: 19pt;
      font-size: 1rem;
    }
  
    cite {
      font-size: 1rem;
    }
  }

  .main_text {
    line-height: 1.5;
    max-width: 900px;

    h2 , h3, h4 {
      line-height: 2.1;
    }
    
    h5, h6 {
      line-height: 3.6;
    }
  }

  .contacts {
    margin-top: 10px;
  }

  footer {
    margin-top: 40px;
  }

  .body_404 {
    background: url("../img/1920dp.svg") no-repeat;
    background-position-y: 13px;
    background-size: 100%;
  }
  
  .header_404 h1 {
    margin: 151px auto 0;
    font-size: 6.1905rem;
    width: 205px;
  }
  
  .info_404 p {
    margin: 168px auto 0;
    font-size: 5.5rem;
    line-height: 0.8;
    width: 360px;
  }
}


@media all and (min-width: 1920px) and (orientation: portrait),all and (min-width: 1920px) and (orientation: landscape) {
  html {
    font-size: 22px;
    line-height: 1.4;
  }

  h1 {
    font-size: 4.4091rem;
  }

  h2 {
    font-size: 3.0455rem;
  }
  
  h3 {
    font-size: 2.0909rem;
  }
  
  h4 {
    font-size: 1.4545rem;
  }
  
  h5 {
    font-size: 0.6818rem;
  }
  
  h6 {
    font-size: 0.4545rem;
  }

  header {
    padding:0;
    padding-top:36px;
  }

  main {
    padding: 0;
  }

  .greyquotes blockquote {
    margin: 20px auto;
    width: 880px;
  }

  .inputcode pre {
    margin: 20px auto;
    width: 930px;
  }

  .archive_searchbar {
    margin-top: 30px;
  }

  .search_input {
    width: 355px;
  }

  .archive_menu {
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 50px;
    max-width: 1810px;

    a {
      font-size: 0.9091rem;
    }

    &:nth-child(1) {
      grid-column-start: 6;
    }
  }

  .archive_grid {
    padding: 0 487.5px;
    max-width: 1070px;
    column-gap: 30px;
  }

  .archive_header h1 {
    font-size: 1.8182rem;
  }

  .archive_archlabel {
    time {
      font-size: 0.8636rem;
    }
  
    p {
      font-size: 1rem;
    }
  }

  .main_header {
    line-height: 74pt;
    margin-top: 7.3%;
    max-width: 930px;
    padding: 0;
  }

  .archlabel {
    max-width: 900px;

    a p {
      font-size: 0.9545rem;
    }
  
    time {
      font-size: 0.8182rem;
    }
  }

  .headerquote {
    padding-left: 480;
    max-width: 450px;

    blockquote {
      font-size: 0.9545rem;
      line-height: 20pt;
      margin-bottom: 6px;
    }
    
    cite {
      font-size: 0.9545rem;
    }
  }

  .main_text {
    line-height: 1.55;
    max-width: 930px;

    h2 {
      margin:5px 0;
    }
  }

  footer {
    margin-top: 45px;
  }

  .body_404 {
    background: url("../img/1920dp.svg") no-repeat;
    background-position-y: 13px;
    background-size: 100%;
  }
  
  .header_404 h1{
    margin: 206px auto 0;
    font-size: 5.9091rem;
    width: 205px;
  }
  
  .info_404 p {
    margin: 140px auto 0;
    font-size: 5.5rem;
    line-height: 0.8;
    width: 360px;
  }
}

@media all and (min-width: 2048px) and (orientation: portrait),all and (min-width: 2048px) and (orientation: landscape) {
  header {
    padding:0;
    padding-top:36px;
  }

  main {
    padding: 0;
  }

  .inputcode pre {
    width: 990px;
  }

  .main_header {
    margin-top: 7.38%;
    line-height: 74pt;
    max-width: 990px;
    padding: 0;
  }

  .search_input {
    width: 377px;
  }

  .archlabel {
    max-width: 950px;
  }

  .headerquote {
    padding-left: 510px;
    max-width: 480px;
  }

  .main_text {
    max-width: 990px;
  }

  footer {
    margin-top: 50px;
  }

  .body_404 {
    background: url("../img/2048dp.svg") no-repeat;
    background-position-y: 13px;
    background-size: 100%;
  }
  
  .header_404 h1 {
    margin: 206px auto 0;
    font-size: 5.9091rem;
    width: 205px;
  }
  
  .info_404 p {
    margin: 140px auto 0;
    font-size: 5.5rem;
    line-height: 0.8;
    width: 360px;
  }
}

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    text-shadow: none !important;
    box-shadow: none !important;
  }

  a,
  a:visited,
  a:active,
  a:hover,
  a:focus {
    text-decoration: none;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}